*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: rgb(245, 239, 231);
    padding: 3rem 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    text-align: center;
    max-width: 600px;
    padding: 0 2rem;
}

.top h1{
    font-size: 2rem;
    font-weight: 600;
}

.top-img{
    margin: 1.5rem 0;
}

.content{
    margin: 1rem;
    max-width: 675px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.img{
    border-radius: 10px;
}

.inside-content{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.inside-content h3{
    line-height: 1.5;
}

@media (max-width: 480px){
    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }

    .img{
        width: 50%;
    }

    .inside-content{
        margin: 0rem;
    }
}
